@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #8e7aa1;
  --code-bg: #f4f3ec;
  --accent: #8e7aa1;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  font-size: 18px;
  line-height: 145%;
  font-family: var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

p {
  margin: 0;
}

alert {
  color: red;
  font-weight: 500;
  margin: 8px 0;
}

label {
    display: block;
    font-weight: 500;
    text-align: left;
    margin: 8px;
}

input,
button, textarea {
  display: block;
  border: 2px solid var(--border);
  padding: 10px;
  margin: 8px;
  border-radius: 50px;

}

button {
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
}
